/* Style.css */

#box {
	background: red;
	height: 200px;
	width: 200px;
	padding: 50px;
	margin: 40px auto;
	box-sizing: border-box;
	border-radius: 30px;
	color: aliceblue;
	
}

/* CSS3 Colors Lecture */
body#colors {
	background: rgba(25, 52, 84, 1);
	color: white;
	
}

#colors #container {
	width: 600px;
	margin: 0 auto;
	background: rgba(255,255,255,0.3);
	padding: 40px;
	box-sizing: border-box;
	
}

#colors #box {
	background: linear-gradient(56deg, yellow, red); 
	
	/*background: radial-gradient(yellow,pink, maroon, black); */	
}

#box1 {
	background: red;
	height: 200px;
	width: 200px;
	padding: 50px;
	margin: 40px auto;
	box-sizing: border-box;
	border-radius: 30px;
	color: black;
	
}

#colors #box1 {
	/*background: linear-gradient(56deg, yellow, red); */
	
	background: radial-gradient(yellow,pink, maroon, black); 
}

/* CSS3 Shadows Lecture */

#shadows #container {
	width: 600px;
	margin: 40px auto;
	background: #fc3;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 10px 10px 15px #333;
	
}

#shadows h1 {
	color: white;
	text-shadow:2px 2px 5px rgba(0,0,0,9);
	
}



/* Columns Lecture */

#three-columns {
	column-count: 4;
	column-gap:50px;
	column-rule-style: solid;
	column-rule-width: 8px;
	column-rule-color: blue;
}


/* Animations and Transitions Lecture */

 @keyframes boxanimation {
	 from  {border-radius: 40px; background-color: red; top: 0; left: 0;}
	 to    {border-radius: 100px; background-color: black; top: 100px; left: 100px;   }
}

#animations #box {
	position: relative;
	animation-name: boxanimation;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: 3;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

}

#box2 {
	color: aliceblue;
	background: blue;
	width: 200px;
	height: 200px;
	position: relative;
}

#box2:hover {
	background: red;
	width: 300px;
	height: 300px;
	transition: all 4s;
	transition-timing-function: ease-in;
	
}





















